DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
PORT=3000

DATABASE_URL=""
JWT_SECRET=""
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"
GEMINI_API_KEY=""